*{
    padding: 0; 
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.strona{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularz{
    width: 30rem;
    display: flex;
    
}



fieldset{
    
    text-align: center;
    padding: 1rem;
}