*{
    padding: 0; 
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}
.strona{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
legend{
    width: 7rem;
    border-width: 1px;
    border-style: solid;
    border-color: azure;
    border-radius: 1rem;
    background-color: #A17765;
}
.main{
    background-color: #420905;
    width: 60rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}
.lewo{
    height: 49rem;
    width: 29rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.prawo{
    background-color: blueviolet;
    height: 49rem;
    width: 29rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
fieldset{
    text-align: center;
    padding: 0.5rem;
}
.user{
    width: 25rem;
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.login{
    display: flex;
    justify-content: center;
    height: 5rem;
    flex-wrap: wrap;
    
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    background-color: #ffe4c4;
}
.log{
    width: 100%;
    
}  
.contact{
    display: flex;
    justify-content: center;
    height: 5rem;
    flex-wrap: wrap;
    align-items: center;
    width: 21.5rem;
    background-color: bisque;
}
.meil{
    padding-left: 4.7rem;
}
.komp{
    display: flex;
    justify-content: center;
    align-items: top; 
    flex-wrap: wrap;
    width: 25rem;
    height:15rem;
}
.komp fieldset{
    padding: 0;
}
.danke{
    width: 23rem;
    display: flex;
    flex-wrap: wrap;   
}
.left {
    height: 12.5rem ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.danke label{
    background-color:#D5B39A;
    height: 1.2rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    display: flex;
    justify-content: left;
    width: 65%;
    align-items: center;
}
.labelin{
    height: 100%;
    width: 50%;
}
select{
    text-align: center;
    border: none;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(to right,#D5B39A, #966A5A);;
}

.bud{
    background-color:#D5B39A;
    border-style: solid;
    border-radius: 1rem;
    border-color: #A17765;
    width: 20rem;
    margin: 1rem;
}

.zasto{
    border-radius: 1rem;
    background-color: #6C3A2F;
    display: flex;
    width: 4rem;
    height:8rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.zasto label {
    display: flex;
    color: #EACCAF;
    justify-content: left;
    align-items: center;
    border-top-left-radius:1rem ;
    border-bottom-left-radius:1rem ;
    width: 5rem;
    height: 0.8rem;
}

.usl{
    display: flex;
    flex-wrap: wrap;
    width: 23rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    background-color: #BA947F;
}

.usl label {
    width: 20rem;
    display: flex;
    color: #FFE4C4;
   }

  