*{
    margin: 0;
    padding: 0;
}

.strona{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Welcome{
    display: flex;
    align-items: center;
    justify-content: center;
}